<!DOCTYPE html>

<html>
<head>
<title>About</title>
<link rel="icon" href="/web-server/public/img/weather.png">
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="main-content">                     {{!-- div allows you to use different class attributes and apply them to things within the body--}}      
{{>header}}
<img class="portrait" src= "/img/robot.png" >  {{!-- adding the class attribute to the image, only images with class will be applied here --}}
</div>
{{>footer}}
</body>
</html>

